{
  "mongo":[
    {
      "name":"local",
      "host":"127.0.0.1",
      "port":"27017",
      "dbname":"pruebas",
      "passwordused":false,
      "username":"",
      "password":"",
      "config":{
        "useNewUrlParser":true,
        "useUnifiedTopology":true,
        "retrywrites":false
      }
    }
  ],
  "mysql":[]
}